<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="carservicecenter" transaction-type="RESOURCE_LOCAL">

        <class>ru.expoforum.carservicecenter.entity.Customer</class>
        <class>ru.expoforum.carservicecenter.entity.Individual</class>
    </persistence-unit>
</persistence>
